<footer class="footer-area footer-style2">
    <div class="footer-main">
      <div class="container">
        <div class="row row-gutter-0">
          <div class="col-md-4 col-lg-4">
            <div class="footer-logo-area">
              <a href="/"> 
                <img class="logo-main" src="/assets/img/brand-logo/logo1.png" alt="Logo" />
              </a>
              <p>Step into the future of fashion with POZECD <br> where style meets innovation and sustainability.</p>
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="widget-item mt-sm-40">
              <h4>COMPANY</h4>
              <nav class="widget-menu-wrap">
                <ul class="nav-menu nav">
                  <li><a href="/about">About Us</a></li>
                  <li><a href="#">Our Studio</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </nav>
            </div>
            <div class="widget-item widget-item-style2 mb-sm-30">
              <h4>USEFUL</h4>
              <nav class="widget-menu-wrap">
                <ul class="nav-menu nav">
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">Affiliate Program</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="widget-item">
              <h4>CATEGORIES</h4>
              <nav class="widget-menu-wrap menu-col-2">
                <ul class="nav-menu nav">
                  <li><a href="/products">All</a></li>
                  <li><a href="/products">Collection I</a></li>
                  <li><a href="/products">Collection II (CS)</a></li>
                  <!-- <li><a href="shop.html">Necklaces</a></li> -->
                </ul>
                <!-- <ul class="nav-menu nav">
                  <li><a href="shop.html">Rings</a></li>
                  <li><a href="shop.html">Bracelets</a></li>
                  <li><a href="shop.html">Hair</a></li> -->
                </ul>
              </nav>
            </div>
            <div class="widget-item widget-item-style2">
              <h4>HOT TAGS</h4>
              <nav class="widget-menu-wrap menu-col-2">
                <ul class="nav-menu nav">
                  <li><a href="#">#POZECDfashion</a></li>
                  <li><a href="#">#ModernWardrobe</a></li>
                  <li><a href="#">#SustainableStyle</a></li>
                  <li><a href="#">#FashionInnovation</a></li>
                </ul>
                <ul class="nav-menu nav">
                  <li><a href="#">#WearYourImpact</a></li>
                  <li><a href="#">#EcoFashion</a></li>
                  <li><a href="#">#TrendyThreads</a></li>
                  <li><a href="#">#ForwardFashion</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-lg-3 d-block d-md-none d-lg-block">
            <div class="widget-item mt-sm-40">
              <h4>ON SOCIAL NETWORKS</h4>
              <div class="widget-social-icons">
                <a href="#/"><i class="lastudioicon lastudioicon-b-facebook"></i></a> 
                <a href="#/"><i class="lastudioicon lastudioicon-b-pinterest"></i></a>
                <a href="#/"><i class="lastudioicon lastudioicon-b-twitter"></i></a>
                <a href="#/"><i class="lastudioicon lastudioicon-b-instagram"></i></a>
              </div>
            </div>
            <div class="widget-item widget-item-style3">
              <h4>CONTACT INFO</h4>
              <ul class="widget-contact-info">
                <!-- <li><a href="tel://+54.8638.8583.43">Phone: +54.8638.8583.43</a></li> -->
                <li><a href="https://ig.me/m/pozecd">Insta: POZECD</a></li>
                <li><a href="/contact">Open time: 9:00 - 19:00, Monday - Saturday</a></li>
                <li class="info-address"><a href="#">Local: Rosenthaler Straße 42, 10178 Berlin, Germany</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>