<ul class="main-menu nav justify-content-center position-relative">
    <li class="active"><a href="/">Home</a>
    </li>
    <li class="has-submenu"><a href="/products">Shop</a>
      <ul class="submenu-nav submenu-nav-mega">
          <li><a href="/products">Collection I</a></li>
        <li class="mega-menu-item banner-menu-content-wrap">
          <ul>
            <li>
              <a href="/products">
                <img src="/assets/img/photos/p4.jpg" alt="Moren-Shop">
              </a>
              <div class="banner-menu-content">
                <span>Shop Now</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/about">About PZCD</a></li>
  </ul>